.title {
  font-size: 60px !important;
}

.quarto-title-author-name {
  font-size: 40px;
}

.slide-logo {
  height: 60px !important;
  width: auto !important;
  max-width: unset !important;
  max-height: unset !important;
}
img.resize {
    width:540px; /* you can use % */
    height: auto;
}
